{% extends "tienda/base.html" %}
{% block content %}
  <h2>Resultados de búsqueda para "{{ query }}"</h2>
  <div class="row">
    {% for producto in productos %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
          <div class="card-body">
            <h5>{{ producto.nombre }}</h5>
            <p class="product-price">${{ producto.precio }}</p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No se encontraron productos.</p>
    {% endfor %}
  </div>
{% endblock %}
